{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<div class="container {{nav_container_class}}">
			{% block header %}
				<!--Navbar Mobile-->
				<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">
					<ul class="nav navbar-nav">
						{% for item in menu_main.get_items %}
							<li {% if page_title == item.title %} class="active" {% endif %} id="{{item.title}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
				<div class="navbar navbar-default mobile-nav visible-xs">
					<button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{site.url}}"><img src="{{ theme.link }}/img/logo-color.svg" /></a>
					<a class="mobile-icon"><i class="phone-mobile"></i></a>
					<a class="mobile-icon"><i class="phone-mobile"></i></a>
				</div>

				<!--Navbar Desktop-->
				<nav class="navbar navbar-default {{header_home}} hidden-xs">
					<div class="container-fluid menu">
						<div class="navbar-header">
							<a class="navbar-brand" href="{{site.url}}"><img src="{{ theme.link }}/img/{{logo_home}}" /></a>
						</div>
						<div class="collapse navbar-collapse" id="navbar-collapse">
		          <ul class="nav navbar-nav {{nav_home}}">
								{% for item in menu_main.get_items %}
									<li {% if page_title == item.title %} class="active" {% endif %} id="{{item.title}}"><a href="{{item.get_path}}">{{item.title}}</a></li>
								{% endfor %}
		          </ul>
		          <ul class="nav navbar-nav navbar-right">
		            <li class="phone"><i class="{{phone_class}}"></i><span class="{{phone_num_class}}">035-6668456</span></li>
		          </ul>
		        </div>
		      </div>
		    </nav>
			{% endblock %}
		</div>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer" class="container footer-con">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
