{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<header class="container {{nav_container_home}}">
			{% block header %}
				<!--Navbar Desktop-->
				<nav class="navbar navbar-default {{header_home}} hidden-xs">
					<div class="container-fluid menu">
						<div class="navbar-header">
							<a class="navbar-brand" href="{{site.url}}"><img src="{{ theme.link }}/img/{{logo_home}}" /></a>
						</div>
						<div class="collapse navbar-collapse" id="navbar-collapse">
		          <ul class="nav navbar-nav {{nav_home}}">
								{% for item in menu_main.get_items %}
									<li {% if page_title == item.title %} class="active" {% endif %}><a href="{{item.get_path}}">{{item.title}}</a></li>
								{% endfor %}
		          </ul>
		          <ul class="nav navbar-nav navbar-right">
		            <li class="phone"><i class="phone-icon"></i><span class="tel-num text-white">035-6668456</span></li>
		          </ul>
		        </div>
		      </div>
		    </nav>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer" class="container footer-con">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

	</body>
</html>
