{% extends "base.twig" %}

{% block content %}
	<!--Header-->
	{% if page.thumbnail %}
		<div class="container pagehead-con">
			<div class="row">
			 <img src="{{page.thumbnail.src('large')}}" alt="{{page.title}}">
			</div>
		</div>
	{% endif %}

	<!--pagehead title and description-->
  <div class="container pagetitle-con">
    <div class="row">
      <div class="col-lg-12">
        <span class="page-title">
          <h1>{{ page.title }}</h1>
          <p>{{page.get_field('subtitle')}}</p>
        </span>
      </div>
    </div>
  </div>

	<!--Text-->
	<div class="container white">
  	<div class="row about-textbox">
			{% for col in page.get_field('content_columns') %}
				{% if loop.length == 1 or loop.length == 2 %}
					<div class="col-md-6 col-xs-12 about-text">
				{% else %}
					<div class="col-md-4 col-xs-12 about-text">
				{% endif %}
					{{col.column}}
				</div><!-- end column -->
			{% endfor %}
		</div>
	</div>

	<!--team-->
  <div class="container white">
    <div class="row">
      <div class="col-lg-12">
        <!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					{% for cat in team_categories %}
						<li {% if loop.first %}class="active"{% endif %}><a href="#{{cat.slug}}" aria-controls="{{cat.slug}}" role="tab" data-toggle="tab">{{cat.name}}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div class="col-lg-12 team">
        <!-- Tab panes -->
        <div class="tab-content">
					{% for term,category in holder %}
					{% set tabname = term %}
					<div role="tabpanel" class="tab-pane {% if loop.first %} active{% endif %}" id="{{term}}">
						{% for person in category %}
							<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div class="person {{person.terms|join(' ')|lower}} {{person.slug}}">
									<div class="person-img">
	                	<a href="{{person.permalink}}#{{tabname}}"><img src="{{person.thumbnail.src('medium')}}"/></a>
	              	</div>
									<div class="person-info">
	                  <h3><a href="{{person.permalink}}#{{tabname}}">{{person.title}}</a></h3>
	                  <p>{{person.get_field('member_job')}}</p>
	                </div>
								</div>
							</div>
						{% endfor %}
					</div>
					{% endfor %}

				</div>
			</div><!--end .team-->
		</div><!--end row-->
	</div>

	<!--Quote-->
	{% if quote %}
  <div class="container quote-con">
    <div class="row quote darkgrey">
      <div class="col-lg-12">
        <span class="quote-font text-white">{{ quote.get_field('quote_text') }}</span>
      </div>
    </div>
  </div>
	{% endif %}


	<script>
		//(function($){
			//$('.nav-tabs').stickyTabs();
		//})(jQuery);
	</script>

{% endblock %}
