{% extends "base.twig" %}

{% block content %}
	<!--Header-->
	<div class="container pagehead-con" style="background:url('{% if page.thumbnail %}{{page.thumbnail.src('full')}}{% else %}{{ theme.link }}/img/pageheads/pagehead_{{ random(5) }}.jpg{% endif %}');background-size:cover;background-position:center center;">
		<div class="row header-bg"></div>
	</div>

	<!--pagehead title and description-->
	<div class="container pagetitle-con">
		<div class="row">
			<div class="col-lg-12">
				<span class="page-title">
					<h1>{{ page.title }}</h1>
					<p>{{page.get_field('subtitle')}}</p>
				</span>
			</div>
		</div>
	</div>

	<!--Text-->
	{% if page.get_field('content_columns') %}
	<div class="container white">
  	<div class="row about-textbox">
			{% for col in page.get_field('content_columns') %}
				{% if loop.length == 1 or loop.length == 2 %}
					<div class="col-md-6 col-xs-12 about-text">
				{% else %}
					<div class="col-md-4 col-xs-12 about-text">
				{% endif %}
					{{col.column}}
				</div><!-- end column -->
			{% endfor %}
		</div>
	</div>
	{% endif %}

	<!--programmas-->
	<div class="container programma-con">
    <div class="row programma-box">
		{% if programma_items %}
			{% for programma in programma_items %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="programma-infobox">
						<a href="{{programma.permalink}}" class="programma-img-container">
							<div class="programma-infobox-img" style="background:url('{{programma.thumbnail.src('large')}}');background-size:cover;">
							</div>
						</a>
						<div class="programma-content programma-page">
							<h2><a href="{{programma.permalink}}">{{programma.title}}</a></h2>
							<span class="description">{{programma.get_field('subtitle')}}</span>
							<p>{{programma.get_preview(35,false,'',true)}}</p>
						</div>
						<a href="{{programma.permalink}}"><div class="title-block white">Lees meer</div></a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>

	<!--Quote-->
	{% if quote %}
  <div class="container quote-con">
    <div class="row quote darkgrey">
      <div class="col-lg-12">
        <span class="quote-font text-white">{{ quote.get_field('quote_text') }}</span>
      </div>
			<span class="quote-author">{% if quote.get_field('quote-author') %}-{% endif %} {{ quote.get_field('quote-author') }}</span>
    </div>
  </div>
	{% endif %}


{% endblock %}
