{% extends "base.twig" %}

{% block content %}


	<!--Blog-->
	<div class="container blog-con">
  	<div class="row blog-head">
		</div>
		<div class="blog-container">
			{% if posts %}
				{% for post in posts %}
					<div class="item-blog">
						<div class="blog-img">
							<a href="{{post.permalink}}">
								<img src="{{post.thumbnail.src('medium')}}" alt="{{post.thumbnail.title}}">
							</a>
						</div>
						<div class="blog-box">
							<a class="tijd" href="blog-post.html"><time>{{post.post_date_gmt|time_ago}}</time></a>
							<a class="category">
								{% for term in post.terms %}
									{{term.name}}
								{% endfor %}
							</a>
							<a class="blog-title" href="{{post.permalink}}">{{post.title}}</a>
							<p>{{post.get_preview(40,false,'',true)}}</p>
							<a class="button blue-open" href="{{post.permalink}}">Lees meer</a>
						</div>
					</div><!--end blog-item-->
				{% endfor %}
			{% endif %}
		</div><!--end blog-container-->
	</div>

	<!--Quote-->
	{% if quote %}
		<div class="container quote-con">
      <div class="row quote">
        <div class="col-lg-12">
          <span class="quote-font">{{ quote.get_field('quote_text') }}</span>
        </div>
      </div>
    </div>
	{% endif %}

{% endblock %}
