{% extends "base.twig" %}

{% block content %}
	<!-- header image -->
	{% if page.thumbnail %}
		<img src="{{page.thumbnail.src('large')}}" alt="{{page.title}}">
	{% endif %}

	<!-- header copy -->
	<h1>{{ page.title }}</h1>
	{{page.get_field('subtitle')}}

	<!-- main copy -->
	{% for col in page.get_field('content_columns') %}

		{% if loop.length == 1 or loop.length == 2 %}
			<div class="col-6">
		{% else %}
			<div class="col-4">
		{% endif %}

			{{col.column}}
		</div><!-- end column -->

	{% endfor %}

	<!-- programma -->
	{% if programma_items %}
		{% for programma in programma_items %}

			<a href="{{programma.permalink}}">
				<img src="{{programma.thumbnail.src('medium')}}" alt="{{programma.thumbnail.title}}">
			</a>

			<a href="{{programma.permalink}}">{{programma.title}}</a>
			{{programma.get_field('subtitle')}}

			{{programma.get_preview(40,false,'',true)}}
			
			<a href="{{programma.permalink}}">Lees meer</a>
			
		{% endfor %}
	{% endif %}

	<!-- Quotes  -->
	{% if quote %}
		<blockquote>{{ quote.get_field('quote_text') }}</blockquote>
	{% endif %}


{% endblock %}