{% extends "base.twig" %}

{% block content %}

	<!--Header-->
	<div class="container posthead-con">
		<div class="row">
		 <img src="{{post.thumbnail.src('large')}}"/>
		</div>
	</div>

	<!--post content-->
	<div class="container blog-con">
		<div class="row post-container"><!--col-lg-6 col-md-6 col-sm-12 col-xs-12 about-text-->
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 about-text">
				<div class="post-content">
					<a class="tijd"><time>{{post.post_date_gmt|time_ago}}</time></a><a class="category">categorie</a>
					<h1>{{post.title}}</h1>

					{% if post.get_field('profiel_image') and post.get_field('naam') %}
					<div class="interview-person"><img src="{{ post.get_field('profiel_image') }}"/></div>
					<ul class="interview-info">
						<li> Naam: {{ post.get_field('naam') }}</li>
						<li> Organisatie: {{ post.get_field('organisatie') }}</li>
						<li> Functie: {{ post.get_field('functie') }}</li>
						<li> Traject: {{ post.get_field('traject') }}</li>
					</ul>
					{% endif %}

					{{post.content}}
					<div class="share-box">
						<h2>Interessant? Deel het!</h2>
						<p>Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est. </p>
					</div>
				</div>
			</div>


			<aside class="col-lg-4 col-md-4 col-sm-6 col-xs-12 related-col">

				<!--related case-->
				{% if related_cases %}
					<span class="col-title-blog">GERELATEERDE CASE</span>
					{% for rel_case in related_cases|slice(0,1) %}
					<div class="no-border related">
						<div class="related-img">
							<a href="{{rel_case.permalink}}"><div class="img" style="background-image:url('{{rel_case.thumbnail.src('medium')}}')"></div></a>
							<a href="{{rel_case.permalink}}"><span>{{rel_case.title}}</span></a>
						</div>
						<div class="related-content">
							{% for relation in rel_case.get_field('related')|slice(0,1) %}
								{% set rel_link = TimberPost(relation.ID) %}
								<span class="description"><a href="{{rel_link.permalink}}">{{relation.post_title}}</a></span><br/><br/>
							{% endfor %}
							<p>{{rel_case.get_preview(35,false,'',true)}}</p>
						</div>
						<a href="{{rel_case.permalink}}" class="related-link-case first"><div class="title-block white"><span class="more-col">Meer informatie</span></div></a>
						<a href="{{cases_link}}" class="related-link-case"><div class="title-block white"><span class="more-col">Bekijk alle cases</span></div></a>
					</div>
					{% endfor %}
				{% endif %}


				<!--related program-->
				{% if blog_posts %}
				<span class="col-title-blog">andere berichten</span>
					<div class="related">
						{% for post in blog_posts %}
							<div class="related-content">
								<a class="tijd" href="{{post.permalink}}">2 weken geleden</a><a class="category">categorie</a>
								<a class="bericht-title" href="{{post.permalink}}">{{post.title}}</a>
							</div>
							<hr />
						{% endfor %}
						<a href="{{blog_link}}"><div class="title-block white"><span class="more-col">lees meer</span></div></a>
					</div>
				{% endif %}

			</aside>
		</div><!-- end row -->
	</div>

{% endblock %}
