{% extends "base.twig" %}

{% block content %}
	{% set page_title = 'Wat we doen' %}

	<!--Header-->
	<div class="container pagehead-con">
		<div class="row page-head header-bg">
			<img src="{{ theme.link }}/img/pageheads/pagehead_{{ random(5) }}.jpg" alt="{{post.title}}" />
		</div>
	</div>

  <!--pagehead title and description-->
  <div class="container pagetitle-con">
    <div class="row">
      <div class="col-lg-12">
        <span class="page-title">
          <h1>{{ post.title }}</h1>
          <p>{{ post.get_field('subtitle') }}</p>
        </span>
      </div>
    </div>
  </div>

	<!--text-->
  <div class="container white">
    <div class="row about-textbox">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-text">
				{{ post.content }}
			</div>

			<aside class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-1 col-md-offset-1 about-text">
	      {% for rel in post_related %}
					<span class="col-title">GERELATEERDE CASE</span>
		      <div class="related">
		        <div class="related-img">
		          <a href="{{rel.permalink}}"><div class="img" style="background-image:url('{{rel.thumbnail.src('medium')}}')"></div></a>
		          <a href="{{rel.permalink}}"><span>{{rel.title}}</span></a>
		        </div>
		        <div class="related-content">
		          <span class="description">{{ post.title }}</span>
		          <p>{{rel.get_preview(35,false,'',true)}}</p>
		        </div>
		        <a href="{{rel.permalink}}" class="related-link-case first"><div class="title-block"><span class="more-col">Meer informatie</span></div></a>
		        <a href="{{cases_link}}" class="related-link-case"><div class="title-block"><span class="more-col">Bekijk alle cases</span></div></a>
		      </div>
				{% endfor %}
	    </aside>
	  </div><!-- end row -->
	</div>

{% endblock %}
