{% extends "base.twig" %}

{% block content %}
	<!--Header-->
  <div class="container pagehead-con">
    <div class="row page-head">
     <img src="{{ theme.link }}/img/header-img3.jpg"/>
    </div>
  </div>

  <!--pagehead title and description-->
  <div class="container pagetitle-con">
    <div class="row">
      <div class="col-lg-12">
        <span class="page-title">
          <h1>{{ post.title }}</h1>
          <p>{{ post.get_field('subtitle') }}</p>
        </span>
      </div>
    </div>
  </div>

	<!--text-->
  <div class="container white">
    <div class="row about-textbox">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 about-text">
				{{ post.content }}
			</div>

			<aside class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-1 col-md-offset-1 about-text">
	      <span class="col-title">GERELATEERDE Programma</span>
        {% for rel in post_related %}
		      <div class="related">
		        <div class="related-img">
		          <img src="{{rel.thumbnail.src('medium')}}" alt="{{rel.thumbnail.title}}"/>
		          <span>{{rel.title}}</span>
		        </div>
		        <div class="related-content">
		          <p>{{rel.get_preview(35,false,'',true)}}</p>
		        </div>
		        <a href="{{rel.permalink}}" class="related-link-case first"><div class="title-block"><span class="more-col">Meer informatie</span></div></a>
		        <a href="" class="related-link-case"><div class="title-block"><span class="more-col">Bekijk alle cases</span></div></a>
		      </div>
				{% endfor %}
	    </aside>
	  </div><!-- end row -->
	</div>

{% endblock %}
